body {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  font-size: 16px;
  background-color: #303841;
}

h1, h2, h3{
  font-family: 'Rubik', sans-serif;
}


/******************CLASS SELECTORS******************/

/******NAVBAR******/
.navbar {
  background-color: #3A4750;
}
.nav-link{
  color : #EEEEEE;
}

.navbar-toggler:focus{
    outline: none;
  }

.bg-img{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../Images/bg.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;

}


.container-fluid{
  padding-left: 0;
  padding-right: 0;
  overflow:hidden;

}
