body {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  font-size: 16px;
  background-color: #303841;
}

h1, h2, h3{
  font-family: 'Rubik', sans-serif;
}

nav a{text-decoration: none;}


/******************CLASS SELECTORS******************/

/******NAVBAR******/
.navbar {
  background-color: #3A4750;
}
.nav-link{
  color : #EEEEEE;
}
.navbar-toggler:focus{
    outline: none;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .navbar-toggler{
    background-color: #3A4750;
  }
.bg-img{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../Images/bg.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

#show_image_popup{
  width: 400px;
  height: 400px;
  border: 1px solid #333;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e5e5e5;
  display: none;
}

#show_image_popup img{
  max-width: 90%;
  height: auto;
}

#all-images .active{
  filter: blur(5px);
}

.close-btn-area{
  width: 100%;
  text-align: right;
  margin-bottom: 2px; 
}
.close-btn-area button{
  cursor: pointer;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
  overflow:hidden;

}
